!!!
%html
%head
  %title Wiki
  = csrf_meta_tags
  = csp_meta_tag 

  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

%body 

  = render 'layouts/navbar'

  %p.notice= notice
  %p.alert= alert

  .container
    .row
      .col-10
      
        = yield

      .col-2    
        = link_to "All Articles", root_path, class: "btn btn-primary"
        - Category.all.each do |category|
          = link_to category.name, articles_path(category: category.name), class: "btn btn-primary"
